certifi==2026.1.4
dagshub==0.6.5
fastapi==0.129.0
mlflow==3.9.0
mlflow_skinny==3.9.0
mlflow_tracing==3.9.0
numpy==2.4.2
pandas==2.3.3
plotly==6.5.2
pymongo==4.16.0
python-dotenv==1.2.1
pytz==2025.2
Requests==2.32.5
scikit_learn==1.8.0
streamlit==1.54.0
xgboost==3.2.0